/* Tambahkan kode CSS kalian di file ini */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: #0081C9;
}

.menu a{
    color: #ffffff;
    padding: 24px 12px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.menu{
    display: flex;
    gap: 4px;
    font-size: 14px;
}
.menu li{
    padding: 4px 12px;
}
.cta-btn{
    display: flex;
    gap: 12px;
    font-size: 16px;
    padding: 4px 12px;
}
button{
    padding: 12px 16px;

}
.outline-btn{
    color: #ffffff;
    background-color: #0081C9;
    border: #ffffff;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}
.fill-btn{
    color: #0081C9;
    background-color: #ffffff;
    border: #0081C9;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}
.hero{
  padding: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ht{
  color: #0081C9;
  width: 320px;
  row-gap: 32px;
}
.headline{
  padding: 4px 0px;
  font-weight: 700;
}
.tagline{
  padding-top: 4px;
  padding-bottom: 32px;
  font-weight: 500;
}
form{
    display: block;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;

}
label{
    display: inline-block;
    width: 160px;
    text-align: left;
    
}

.name, .city, .email, .zip-code, .checkbox{
    padding: 8px;
    justify-content: center;
}

